<div>Usando servicios Json</div>
<hr>

<div *ngFor="let post of posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
</div>

<hr>

<br>
<br>

<!-- <div>Binding de datos (Doble enlace de datos)</div>
<div>
    <form>
        <label for="name">Name: </label>
        <input type="text" name="name" [(ngModel)]="name">
        <br>
        <label for="age">Age: </label>
        <input type="text" name="age" [(ngModel)]="age">
    </form>

    name: {{ name }} <br>
    age: {{ age }}
</div> -->

<br>
<br>

<div>Mi primer formulario en Angular (evento submit)</div>
<br>
<form (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button>Send User</button>
</form>

<br>
<br>

<div>Funcion a botones pora eliminar cada usuario</div>
<ul>
    <li *ngFor="let user of users">
        {{ user }} - <button (click)="deleteUser(user)">X</button>
    </li>
</ul>

<br>
<br>

<div>Funcion a botones por cada usuario</div>
<ul>
    <li *ngFor="let user of users">
        {{ user }} - <button (click)="sayHello()">Hello</button>
    </li>
</ul>

<br>
<br>

<div>Funcion a botones</div>
<button (click)="sayHello()">
    click me!
</button>

<br>
<br>

<!-- <div>Constructor de datos components creados con tipos de datos</div>
<div>
    <p>name: {{ name }}</p>
    <p>address: {{ address.street }}</p>
    <p>city: {{ address.city }}</p>
    <p>Hobbies:</p>
    <ul>
        <li *ngFor="let hobbies of hobbies">
            {{ hobbies }}
        </li>
    </ul>
</div> -->

<div>Mi primer for al component user</div>
<ul>
    <app-user *ngFor="let user of users" [nameUser]="user"></app-user>
</ul>

<div>Mi primer ng IF</div>
<ul>
    <li *ngIf="activated">
        activated
    </li>
</ul>

<div>Mi primer ng for</div>
<ul>
    <li *ngFor="let user of users">
        {{ user }}
    </li>
</ul>